@use '../globals/colors' as c;
@use '../globals/variables';  
@use '../globals/typography';

.order_page_container{
     min-height: 100vh;

    &::before{
        content: '';
        top:0;
        bottom:0;
        right:0;
        left:0;
        position: absolute;
        background-image: url('../images/background_img.jpg');
        background-position:top center;
        background-size:cover;
        opacity: 0.2;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }


   .order_page__header{
    
    
    .order_page__nav{
        width: 100% ;
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        padding: 0.5em ;
        font-size: 1.2rem;
        transition: 0.5s east-out;
        
        
        .order_page__logo{
            margin-top:auto;
            margin-bottom:auto;
           
          &:hover{
            .order_page_logo::after{
              content: '- Web Store for Music Instruments';
              font-size: 1.2rem;
              padding-left: 0.6rem;
              animation: 1s ease-out 0s 1 slideInRight;

              @keyframes slideInRight {
                0% {
                  transform: translateY(-20%);
                  opacity: 0;
                  width: 0;
                }
                50%{
                    opacity: 0.5;
                }
                100% {
                  transform: translateX(0);
                  opacity: 1;
                  width: 100%;
                }
              }
              
            }
          }
              
              
        }

        .order_page__ul,.order_page__list{
            list-style-type:none;
            display: inline-block;
            padding:0.3em;
            padding-right: 1rem;

            & :hover{
                // color: skyblue;
                text-shadow: 5px 5px 10px gray;
                transition: 0.5s ease-in-out;
                font-size: 1.5rem;
            }
            
        }
    }  // nav bar 
  }  // header


  .order_page_product_list{
    background-color: rgba(128, 128, 128, 0.221);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

    .order_page_byrnme{
      padding: 1rem 1rem 1rem 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: darkgray;
      transition: 1s ease-in;

      &:hover{
        color: black;
        transition: 0.8s ease-in;
      }
    }
    
    .order_page_content{
      display: flex;
      gap: 1rem;
      margin-top: 1.2rem;
      margin-left: 1.2rem;
      align-items: center;
      font-size: 1.1rem;

        .o_pic{
          .o_pic_img{
            width: 6rem;
            height: auto;
            border-radius: 0.5rem;
          }
        }

    }

  }
  



  
  .order_page_footer{
    display:flex;
    justify-content:center;
    align-items: flex-end;
    background-color: rgba(10, 9, 9, 0.321);
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.7rem;
  }


}